body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: darkblue;
    font-family: comic sans MS;
    text-align: center;
    font-size: 60px;
}
h4 {
    text-align: right;
    font-style: italic;
}
p {
    text-align: right;
}
center {
        text-align: center;
        color: rgb(235, 150, 40);
}
h3 {
    color: black;
}
h3 a {
    color: aliceblue;
}
h3 a:hover{
    color: red; 
}
p a:hover{
    color: white;
    background-color: blue;
}