body {
    background-image: url(background.png);
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    
   
}
    
h1{
    color: darkblue;
    font-family: comic sans MS;
    text-align: center;
    font-size: 60px;
}
h4 {
    text-align: center;
}
p {
    text-align: center;
}
p:first-of-type {
    
    color: rgb(235, 150, 40);
}
h3 {
    color: black;
    text-align: center;
}
h3 a {
    color: red;
}
h3 a:hover{
    color: rgb(10, 91, 167); 
}
p a:hover{
    color: white;
    background-color: blue;
}